header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.close__btn {
    background-color: rgb(223, 46, 46);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.close__btn:hover {
    background-color: rgb(211, 5, 5);
    transform: scale(1.2);
}

.close__btn:active {
    transform: scale(0.95);
}