.remove__task__btn {
  color: rgb(223, 46, 46);
  font-weight: 900;
  /* background-color: black; */
  width: 25px;
  height: 25px;
  text-align: center;
}

.todo__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 7px;
  padding: 0 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 16px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  transition: transform 0.3s;
  /* transition: border-left 0.3s; */
  cursor: pointer;
}

.todo__item:hover {
    transform: scale(1.07);
}

.todo__item:active {
    transform: scale(1);
}

.todo__item h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.todo__item p {
  margin: 0;
}

.date {
    display: flex;
    justify-content: space-between;
}