.todo__items__area {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: rgb(235, 240, 247);
  flex: 1;
  border-radius: 10px;
  /* row-gap: 12px; */
  height: 200px;
  margin: 20px 0;
  box-shadow: 0 16px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.section {
  display: flex;
  flex-direction: column;

  row-gap: 12px;
  margin-bottom: 20px;
}

.section__name {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
  background-color: rgb(132, 181, 250);
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 20%), 0 6px 15px 0 rgb(0 0 0 / 19%);
}

.todo__items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 10px;
  background-color: transparent;
}

.no__todos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no__todos h2 {
  color: rgb(126, 126, 126);
}

.no__todos span {
  font-size: xxx-large;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(219, 219, 219);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 197);
  border-radius: 5px;

  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 1, 173);
}
