.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.container {
  border-radius: 5px;
  width: 360px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}